target/
!.mvn/wrapper/maven-wrapper.jar
/static
/templates

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbcache/
/netbeans-targets.xml

### VS Code ###
.vscode/

### Others ###
*.log
*.sql
*.sqlite
.DS_Store

### Maven Wrapper ###
# Keep wrapper jar and properties for portable builds
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
